@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-gray text-brand-navy font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}